.book-list-container {
  padding: 20px;
  background-color: #f1f1f1;
}

.book-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px; /* Add gap between items */
}

/* Responsive Design */
@media (max-width: 1024px) {
  .book-list {
    justify-content: center;
  }

  .book-item {
    width: calc(50% - 10px); /* Two items per row */
  }
}

@media (max-width: 768px) {
  .book-item {
    width: calc(100% - 10px); /* One item per row */
  }
}

@media (max-width: 480px) {
  .book-item {
    width: 100%; /* Full width */
  }
}
